<article class="single-user">
    <h1>{{NOM}}</h1>
    <div class="user-details">
        <p><strong>Email :</strong> {{EMAIL}}</p>
        <p><strong>Adresse :</strong> {{ADRESSE}}</p>
    </div>
    
    <div class="actions">
        <a href="/utilisateurs" class="back-link">← Retour à la liste</a>
        <a href="/utilisateurs/{{ID}}/modifier" class="back-link btn-edit">✎ Modifier cet abonné</a>
        <a href="/utilisateurs/{{ID}}/supprimer" class="back-link btn-delete">🗑 Supprimer cet abonné</a>
    </div>
</article>
